div[data-testid="stAppViewBlockContainer"] {
    padding-top: 2.1rem;
}

button {
    min-height: 0.5rem;
    padding: 0.05rem 0.75rem;
}

div[data-testid="stMetricValue"] {
    font-size: 1.2rem;
}

div[data-testid="stForm"] {
    border: none;
}

header[data-testid="stHeader"] {
    display: none;
}